body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: beige;
    
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: LightGreen;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: red;
}

.post-form {
    margin-bottom: 20px;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.post {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: left;
}

.post-content {
    font-size: 16px;
}

.delete {
    cursor: pointer;
    background-color: #ff6262;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
}